.wd-30 {width:30px;}
.wd-40 {width:40px;}
.wd-50 {width:50px;}

#ajax-loading{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 1100;
}

/* ******** uniform.js style ******** */

.uniform-uploader {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.uniform-uploader input[type=file] {
    width: 100%;
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-height: calc(1.5385em + .875rem + 2px);
    border: 0;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
}

input[type=file][data-fouc] {
    height: calc(1.5385em + .875rem + 2px);
    opacity: 0;
}

.uniform-uploader .filename {
    color: #999;
    padding: .4375rem .875rem;
    -ms-flex: 1;
    flex: 1;
    border: 1px solid #ddd;
    border-right: 0;
    background-color: #fff;
    text-align: left;
    word-break: break-word;
    border-top-left-radius: .1875rem;
    border-bottom-left-radius: .1875rem;
}

.uniform-uploader .action {
    z-index: 1;
    border-radius: 0;
    border-top-right-radius: .1875rem;
    border-bottom-right-radius: .1875rem;
}

.uniform-uploader .action {
    color: whitesmoke;  
    z-index: 1;
    border-radius: 0;
    border-top-right-radius: .1875rem;
    border-bottom-right-radius: .1875rem;
}

#supply_order_table tbody tr td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
} 

/* autocomplete */

.ui-autocomplete .ui-menu-item {
    padding: 3px !important;
    font-size: 14px;
}

.btn-rounded {
    border-radius: 100% !important;
    padding-left: .65rem;
    padding-right: 0.65rem;
}

.top-search-form .select2-container--bootstrap4 .select2-selection--single {
    height: 25px !important;
    /* margin-bottom: 4px; */
    padding-top: .3rem;
    padding-bottom: .3rem;
}
.top-search-form .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow {
    height: 25px !important;
}

li.sidebar-item.active>a.sidebar-link {
    background: #ddd;
}
.bg-nav {
    background-color: #009688 !important;
}


.table-responsive .table-bordered td, 
.table-responsive .table-bordered th {
    border: 1px solid #dee2e6 !important;
}


td, th {
    white-space: nowrap;
    /* overflow: hidden; */
  }